/* base */

@font-face {
    font-family: HelveticaMonospacedW1G-Rg;
    src: url("../fonts/HelveticaMonospacedW1G-Rg.otf");
}

@font-face {
    font-family: TobiasTRIAL-Light;
    src: url("../fonts/TobiasTRIAL-Light.otf");
}

body {
    background-color: #ffffff;
    margin: 0px;
    overflow-x: hidden;
}

p {
    color: #000000;
    font-size: 34px;
    line-height: 38px;
    font-family: TobiasTRIAL-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0px;
}

h2 {
    color: #000000;
    font-size: 96px;
    line-height: 96px;
    font-family: TobiasTRIAL-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0px;
    letter-spacing: -.025em;
}

.container {
    position: relative;
}

@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
        }
        .tcontainer{
          width: 100%;
          overflow: hidden;
        }
        .ticker-wrap {
          width: 100%;
          padding-left: 100%;
          z-index: 9;
          position: absolute;
        }
        .ticker-move {
          display: inline-block;
          white-space: nowrap;
          padding-right: 100%;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-name: ticker;
          animation-duration: 12s;
        }
        .ticker-move:hover{
          animation-play-state: paused;
        }
        .ticker-item{
          display: inline-block;
          padding: 0 2rem;
        }

a {
    text-decoration: none;
    color: black;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}
  
::selection {
    color: white;
    background: black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    grid-gap: 16px;
    margin-right: 16px;
    margin-left: 16px;
}

h1 {
    color: #000000;
    font-size: 12px;
    line-height: 0px;
    text-transform: uppercase;
    font-family: "HelveticaMonospacedW1G-Rg", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.header {
    margin-right: 16px;
    margin-left: 16px;
    border-left: rgba(0, 0, 0, 0.08) 1pt solid;
    border-right: rgba(0, 0, 0, 0.08) 1pt solid;
}

.col {
    border-left: rgba(0, 0, 0, 0.08) 1pt solid;
    border-right: rgba(0, 0, 0, 0.08) 1pt solid;
}

.col02 {

    z-index: 9;
    position: absolute; 
}

.divider-02 {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.08);
}

.divider {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.08);
}


.spacer-01 {
    height: 24px;
}

.spacer-02 {
    height: 128px;
}

#video-wrapper {
    margin-left: 16px;
    margin-right: 16px;

}

.button:hover:before {
    content: "●"
}

/* mobile */

@media screen and (max-width: 800px) {
    body {
        background-color: #ffffff;
        margin: 0px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column;
        grid-gap: 0px;
    }
}
