/* base */

body {
    background-color: #ffffff;
    overflow-x: hidden;
}

p {
    color: #000000;
    font-size: 16px;
    line-height: 21px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: #000000;
    font-size: 96px;
    line-height: 96px;
    font-family: TobiasTRIAL-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.container {
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}
  
::selection {
    color: white;
    background: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 16px;
}

.grid02 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
    grid-gap: 16px;
}


h1 {
    color: #000000;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .02em;
}

.spacer {
    height: 128px;
}
.spacer02 {
    height: 16px;
}
.spacer04 {
    height: 8px;
}

.spacer03 {
    height: 24px;
}

#video-wrapper {
}

.button {
    border: 1px solid #00000024;
    border-radius: 8px;
    background: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px; 
    line-height: 21px;
    padding: 8px 16px;
}

.button:hover {
    border: 1px solid #00000048;
}


/* tablet 

@media screen and (max-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        margin-top: 20px;
    }
}

*/

/* mobile 

@media screen and (max-width: 480px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px;
        margin-top: 20px;
    }
}

*/
